#App
Flask
Flask-SQLAlchemy
flask-table
Flask-WTF
gunicorn
logmatic-python
psycopg2-binary
SQLAlchemy
termcolor

#Development
pytest
pytest-cov
pytest-html
pytest-runner
pytest-rerunfailures
pytest-xdist
pylint
wtforms>=3.0.0a1 # not directly required, pinned by Snyk to avoid a vulnerability
