#App
Flask
Flask-SQLAlchemy
flask-table
Flask-WTF
gunicorn
logmatic-python
psycopg2-binary
SQLAlchemy
termcolor
flask-marshmallow
marshmallow-sqlalchemy
flask-migrate
flask-script

#Development
pytest
pytest-cov
pytest-html
pytest-runner
pytest-rerunfailures
pytest-xdist
pylint
factory-boy
coveralls
mypy
pylint
bumpversion
twine
mkdocs
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability